@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #00502f;

}

.logodigi {
    position:absolute;
    top: 0;
    left: 0;
    right: 0%;
    width: 100%;
    max-width: 90%;
    padding: 1%;
    display: flex; 
    margin-left: 2%;
    align-items: center;
}

.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 20px;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero2{
    width: 100%;
    height: 100vh;
    padding: 20px;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(180deg,#00000060 0%, #0000008c 100%),url('../images/reclutadora.jpg');
    background-size: cover;
    z-index: -1;
}


.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(180deg,#0000008c 0%, #0000008c 100%),url('../images/DigiHome.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav{
    --padding-container:0;
    height: 100px;
    display: flex;
    align-items: center;
 
}

.nav_title{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}


.nav_links{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

}

.nav_links:hover{
    color: #00b548;
    text-decoration: none;
    cursor: pointer;
}


.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

/* Hero Container */

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 24px;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #008106;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta__best{
    background-color: #008106;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.subtitle__price{
    color: #da291c;
    font-size: 2rem;
    margin-top: 10%;
    margin-bottom: 10px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
}

.about__icons{
    display: grid;
    justify-items: center;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.about__ofertas{
    width: 100%;
}

/* Knowledge */

.knowledge{
    background-color: #e5e5f7;
background-image:  radial-gradient(#003513 0.65px, transparent 0.65px), radial-gradient(#003513 0.65px, #e5e5f7 0.65px);
background-size: 26px 26px;
background-position: 0 0,13px 13px;
    overflow: hidden;
    
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
    
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* Price */

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}


.price__element{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    background-color: #e5e5f7;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    background-color:#b3b3b3;
    --color-plan: #000000;
    --color-price: #da291c;
    --bg-cta: #da291c;
    --color-cta: #ffffff;
    --color-items: #000000;
}
/*
.price__element--best{
    background-color:#b3b3b3;
    --color-plan: #000000;
    --color-price: #da291c;
    --bg-cta: #da291c;
    --color-cta: #ffffff;
    --color-items: #000000;
}
*/
.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}


    .price__price{
        font-size: 2.5rem;
        color: var(--color-price);
    }

    .price__items{
        margin-top: 35px;
        display: grid;
        gap: 1em;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 50px;
        color: var(--color-items);
    }

    .price__cta{
        display: block;
        padding: 20px 0;
        border-radius: 10px;
        text-decoration: none;
        color: var(--color-cta);
        background-color: var(--bg-cta);
        font-weight: 600;
        box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }

    /* Formulario */

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 80vh; /* Altura del viewport para centrar verticalmente */
    }
    
    .contact-form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    
    .contact-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .contact-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .contact-form input, .contact-form select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .contact-form button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .contact-form button:hover {
        background-color: #218838;
    }

    /* popup btn */

    .popup {
        width: 300px;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    .popup-container .show-popup-btn {
        padding: 10px 20px;
        bottom: 10px;
        width: 70%;
        left: 50px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
        color: #ffffff;
        background-color: #da291c;
    }


    .show-popup-btn:hover {
        padding: 10px 20px;
        bottom: 10px;
        width: 70%;
        left: 50px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
        color: #ffffff;
        background-color: #303030;
    }
    
    .popup-container .popup {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup-container .popup-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    
    .popup-container .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
    }
    
    .popup-container .close:hover,
    .popup-container .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
 /* Btn Llamada */

 .call-btn {
    justify-content: right;
    margin-top: 10px;
    margin-left: 450px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: right;
}

.call-btn:hover {
    background-color: #0056b3;
}

.image-container{
    position: relative;
    display: inline-block;
}

.image-container img{
    width: 100%;
    height: auto;
}

.swiper{
    width: 30%;
    padding-top: 150px 0 0px;
}

.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #383838;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color: #aaa;
}

.icons img{
    width: 120px;
}

.product-content{
    display: flex;
    justify-content: space-between;
}

.product-txt{
    flex-basis: 50%;
    text-align: left;
}

.product-txt span{
    font-size: 25px;
    color: #008106;
    font-weight: bold;
}

.product-txt h3{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p{
    font-size: 14px;
    color: #0000008c;
}

.product-img
{
    width: 100%;

}

.product-img img{
    width: 100%;
    align-content: center;
    max-width: 100%;
}

.footer{
    background-color: #4d4d4d;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height:100%;
}

.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1em;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #28a745;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}

.footer_copy{
    --padding-container:30px 0;
    text-align: center;
    color: #008106;

}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footer_img{
    width: 30px;
}




/* Media Querys*/

@media(max-width:800px) {
    .nav_menu{
        display: block;
    }
    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        justify-self: center;
        grid-row: 1/2;
    }

    .hero2::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-image: linear-gradient(180deg,#00000060 0%, #0000008c 100%),url('../images/reclutadora.jpg');
        background-size: cover;
        z-index: -1;
        justify-self: center;
        grid-row: 1/2;
    }

    
}
  

  





